.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-input-container {
  width: 400px;
  height: 400px;
  color: black;
  background-color: white;
  display: block;
  position: relative;
}

.predict-button {
  margin: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  background-color: gray;
}

.predict-button:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.select-button {
  margin-top: 180px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  background-color: darkgray;
}

.result-container {
  height: 100px;
  width: 400px;
  display: block;
}

.preview {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.reset_button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.reset_button:hover {
  cursor: pointer;
  background-color: red;
}

.result {
  width: 200px;
  display: inline-block;
  text-align: left;
}

.result-text {
  margin: 0px;
  padding: 5px;
}